.top-panel
	.container
		.df.sb.ic
			.box.df.logoimg.ic
				img(src="../img/logo.svg", alt="")
				a(href="#")
					span ТОО «Табыс агро д»
			.box.df
				nav.navbar
					ul.nav-menu
						li 
							a(href="#") Главная
						li 
							a(href="#") О Нас
						li 
							a(href="#") Лошади на продажу
						li 
							a(href="#") Контакты
			.box
				ul.icon-top
					li
						a(href="")
							img(src="../img/svg/insta.svg", alt="")
					li
						a(href="")
							img(src="../img/svg/in.svg", alt="")
					li
						a(href="")
							img(src="../img/svg/fac.svg", alt="")