<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Лошади в астане
	link(rel="stylesheet", href="css/main.min.css")
	script(src="js/scripts.min.js")
body
	include header.pug
	header
		.wrap-text-header
			h1 Завод пародистых лошадей
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quo facere, dolorem quisquam pariatur quae vitae praesentium vel molestiae. Adipisci ipsa officia, illo numquam minus, minima est, omnis mollitia autem quos maiores facilis ea.
			a(href="#") Перейти в каталог
		a.arrow
			img(src="img/arrow.svg", alt="arrow")
	section.company
		.container
			.row
				.col-10.offset-1
					h2 Немного о нас
					hr
					each val, index in ['Перед спортсменом, решившим брать себе будет буденновца, всегда встает вопрос: куда ехать за хорошо выращенными и преспективными лошадьми?', 'Все, кто знаком с породой, знают, что буденновцы достаточно сильно отличаются друг от друга. Тип лошади из конного завода им. Первой Конной Армии легко определяется даже не самым искушенным любителем лошадей: рослые, мощные, костистые, иногда гнедой или вороной масти, но при этом узнаваемо буденновские. Лошади завода всегда отлично выступают в скачках, троеборье и конкуре. Именно на наш завод в первую очередь приезжают тренеры и спортсмены- потому что здешний молодняк,– это гарантия успешных выступлений в будущем.', 'Слаженная работа персонала скаковых и спортивных отделений, обеспечивает выращивание качественно подготовленных лошадей, которые отлично готовы к любой дальнейшей карьере.', 'Как же было создано это уникальное предприятие?', 'После окончания Гражданской войны задача по производству лошадей для кавалерии стояла очень остро. Для её решения на Дон был направлен командарм С.М. Буденный - легендарный комдив того времени. Благодаря ему, в только что основанных военных конных заводах были созданы все условия для успешного восстановления и выращивания поголовья лошадей, будущих буденновцев.']
						p.paraq= val
	section.partner
		.container
			h2 Наши партнеры
			.row
				.col-2.offset-1
					.item
				.col-2
					.item
				.col-2
					.item
				.col-2
					.item
				.col-2
					.item