<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Лошади в астане
	link(rel="stylesheet", href="css/main.min.css")
	script(src="js/scripts.min.js")
body
	include header.pug
	include breadcrumbs.pug
	section#gallary

		ul#koni.animalArray
			li img/animals/k1.jpeg
			li img/animals/k2.jpeg
			li img/animals/k3.jpeg
			li img/animals/k4.jpeg
			li img/animals/k5.jpeg
			li img/animals/k6.jpeg
			li img/animals/k7.jpeg
			li img/animals/k8.jpeg
			
		ul#biki.animalArray
			li img/animals/b1.jpeg
			li img/animals/b2.jpeg			

		.container
			.grid#gallary-cont
				.gallary-box
					img(src="").gallary-items
			.df.fww.sb
				form(action="function.php", method="POST")
					select#select-an
						option(value="#koni") Жеребцы
						option(value="#biki") Быки
				
				ul.inline-list.page-list
					-var pa = 0;
					-for(i=1; i!=4; i++){
						li
							if i==1
								-var cl = 'active';
							else
								-var cl = '';

							a(href=pa += 6 class=cl).pageasd= i
					-};
			.wrap-text
				h3.paraq-title племенные жеребцы
				p.paraq.
					Перед спортсменом, решившим брать себе буденновца, всегда встает вопрос: куда ехать за хорошо выращенными и перспективными лошадьми?
				p.paraq.
					Все, кто знаком с породой, знают, что буденновцы достаточно сильно отличаются друг от друга. Тип лошади из конного завода им. Первой Конной Армии легко определяется даже не самым искушенным любителем лошадей: рослые, мощные, костистые, иногда гнедой или вороной масти, но при этом узнаваемо буденновские. Лошади завода всегда отлично выступают в скачках, троеборье и конкуре. Именно на наш завод в первую очередь приезжают тренеры и спортсмены- потому что здешний молодняк,– это гарантия успешных выступлений в будущем.
				p.paraq.
					Слаженная работа персонала скаковых и спортивных отделений, обеспечивает выращивание качественно подготовленных лошадей, которые отлично готовы к любой дальнейшей карьере.
				p.paraq.
					Как же было создано это уникальное предприятие?
				p.paraq.
					После окончания Гражданской войны задача по производству лошадей для кавалерии стояла очень остро. Для её решения на Дон был направлен командарм С.М. Буденный - легендарный комдив того времени. Благодаря ему, в только что основанных военных конных заводах были созданы все условия для успешного восстановления и выращивания поголовья лошадей, будущих буденновцев.й породы.


	include footer.pug
